<div class="navbar navbar-brand bg-light w-100 d-flex border-bottom">
  <%= link_to 'Wikinimous', articles_path, class: 'text-decoration-none text-dark'%>
  <%= link_to "New Article", new_article_path, class: 'btn btn-outline-secondary' %>
</div>
